.numberDisplay {
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
  font-family: 'smiley sans';
}

.digitWrapper {
  width: 24px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  background: black;
  position: relative;
  border-radius: 6px;
  margin-right: 12px;
  text-align: center;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }
}

// 7 -> digitList 滚动 7 * 32
.digitList {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 600ms;
}
